.rp
  .breadcrumb
    background-color: #871D33
    a
      padding: 6px
      border-radius: 4px
      &:visited, &:link
        color: #ffffff
        text-decoration: none
      &:active, &:hover
        color: #871D33
        background: #ffffff
        text-decoration: none

    > li + li:before
      color: #ffffff
      text-decoration: none
