.dimension-filters
  +clearfix
  margin-bottom: 10px
.babbage-dimension-filter
  float: left
  &.active
    .btn
      background: #ebebeb
      border-color: #adadad
      box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
      -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
      outline: 0
.cut-filter
  float: right
