table.treemap-table
  background: #fff
  text-align: left
  .num
    text-align: right
  .betrag
    width: 125px
  .caret
    display: none
    float: right
  .sort
    .caret
      display: block
      margin-top: 7px
    &.asc
      .caret
        border-bottom: 4px dashed
        border-top: none

