/*
*= require babbage.ui/dist/babbage.ui.css
*= require babbage.ui/dist/deps.css
*/

@charset "utf-8";

@import "mixins";
@import "typography";
@import "buttons";
@import "breadcrumb-rp";
@import "table-rp";
@import "filter";
@import "table";
@import "breadcrumb";
@import "tooltip";

@import "treemap";

body {
  background: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px; }

hr {
  height: 1px;
  background: #C6C6C6; }


.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }
