---
title: Haushalt Rheinland-Pfalz
---
<div ng-controller="DemoCtrl">
  <babbage endpoint="http://52.23.213.247/api/babbage" cube="rp-test" state="state">
  <filter filter="einahmenausgaben"></filter>
  <div class="dropdown">
    <div class="btn-group" dropdown ng-show="einahmenausgaben.length">
      <a class="btn btn-default dropdown-toggle" dropdown-toggle class="ng-link">{{einahmeAusgabe}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li ng-repeat="attr in einahmenausgaben">
          <a ng-click="changeEinahmenAusgaben(attr)">
            <strong>{{attr.label}}</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
      <babbage-treemap drilldown="funktionbezeichnung.funktionbezeichnung" aggregates=regv2016.sum>
      </babbage-treemap>
  </babbage>
</div>
