---
title: Haushalt Rheinland-Pfalz
---
<div ng-controller="DemoCtrl">
  <babbage endpoint="http://52.23.213.247/api/babbage" cube="rp-test" state="state">
    <div class='dimension-filters'>
      <p class="explanation">
      </p>
      <dimension-filter dimension='einzelplanbezeichnung' default-cut='defaultCut'><a class='btn btn-default' href='' ng-click='update()'>Organisationseinheiten</a></dimension-filter>
      <dimension-filter dimension='hauptgruppe' default-cut='defaultCut'><a class='btn btn-default' href='' ng-click='update()'>Gruppierungsplan</a></dimension-filter>
      <dimension-filter dimension='hauptfunktion' default-cut='defaultCut'><a class='btn btn-default' href='' ng-click='update()'>Funktionenplan</a></dimension-filter>
      <babbage-cut-filter filter="einahmenausgaben" selected="Einahmen" default-cut="defaultCut">
        <div class="dropdown">
          <div class="btn-group" dropdown ng-show="filter.length">
            <a class="btn btn-default dropdown-toggle" dropdown-toggle class="ng-link">{{selected}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="attr in filter">
                <a ng-click="update(attr)">
                  <strong>{{attr.label}}</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </babbage-cut-filter>
    </div>
    <treemap-breadcrumb reset='reset' state='state'></treemap-breadcrumb>
    <babbage-treemap></babbage-treemap>
    <treemap-table></treemap-table>
  </babbage>
</div>
