---
title: Haushalt Rheinland-Pfalz
---
<div ng-controller="DemoCtrl">
  <babbage endpoint="http://52.23.213.247/api/babbage" cube="rheinland-pfalz" state="state">
    <div class='dimension-filters'>
      <p class="explanation">
      </p>
      <div class='filter'>
        <h4>Haushaltsjahr</h4>
        <div class='filter-element'>
          <babbage-cut-filter type='dropdown' filter="jahr" selected="2016" default-cut="defaultCut"></babbage-cut-filter>
        </div>
      </div>
      <div class='filter'>
        <h4>Anzeigen nach</h4>
        <div class='filter-element'>
          <dimension-filter type='dropdown' filter='anzeige' selected="Einzelplan" default-cut='defaultCut'></dimension-filter>
        </div>
      </div>
      <div class='filter'>
        <h4>Typ</h4>
        <div class='filter-element'>
          <babbage-cut-filter type='dropdown' filter="einahmenausgaben" selected="Ausgaben" default-cut="defaultCut"></babbage-cut-filter>
        </div>
      </div>
      <div class='filter'>
        <h4>&nbsp;</h4>
        <div class='filter-element'>
          <babbage-refresh>
            <a class="btn btn-default" ng-click="update();"><i class="fa fa-refresh"></i></a>
          </babbage-refresh>
        </div>
      </div>
    </div>
    <treemap-breadcrumb reset='reset' state='state'></treemap-breadcrumb>
    <babbage-treemap show-tooltip=true tooltip-content="tooltipContent(d)"></babbage-treemap>
    <treemap-table show-key="showTableKey"></treemap-table>
  </babbage>
</div>
<div id="tooltip"></div>
