---
title: Haushalt Rheinland-Pfalz
---
<div ng-controller="DemoCtrl">
  <babbage endpoint="http://52.23.213.247/api/babbage" cube="rp" state="state">
  <treemap-breadcrumb reset='reset' state='state'></treemap-breadcrumb>
  <div class='dimension-filters'>
    <dimension-filter dimension='hauptgruppe.hauptgruppenbezeichnung' default-cut='defaultCut'><a class='btn btn-default' href='' ng-click='update()'>nach Gruppe</a></dimension-filter>
    <dimension-filter dimension='einzelplan.einzelplanbezeichnung' default-cut='defaultCut'><a class='btn btn-default' href='' ng-click='update()'>nach Plan</a></dimension-filter>
    <dimension-filter dimension='hauptfunktion.hauptfunktionsbezeichnung' default-cut='defaultCut'><a class='btn btn-default' href='' ng-click='update()'>nach Funktion</a></dimension-filter>
  </div>
  <filter filter="einahmenausgaben"></filter>
  <einahme-ausgabe filter="einahmenausgaben" selected="Einahmen" change="changeEinahmenAusgaben(attr)">
    <div class="dropdown">
      <div class="btn-group" dropdown ng-show="filter.length">
        <a class="btn btn-default dropdown-toggle" dropdown-toggle class="ng-link">{{selected}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="attr in filter">
            <a ng-click="update(attr)">
              <strong>{{attr.label}}</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </einahme-ausgabe>
      <babbage-treemap drilldown="funktionbezeichnung.funktionbezeichnung" aggregates=regv2016.sum>
      </babbage-treemap>
      <treemap-table></treemap-table>
  </babbage>
</div>
