---
title: Haushalt Rheinland-Pfalz
---
<div class="rp" ng-controller="DemoCtrl">
  <babbage endpoint="http://db.offenerhaushalt.de/api/babbage/" cube="haushalt-rheinland-pfalz" state="state">
    <div class='dimension-filters'>
      <p class="explanation">
      </p>
      <div class='filter'>
        <h6>Haushaltsjahr</h6>
        <div class='filter-element'>
          <babbage-cut-filter type='dropdown' filter="jahr" selected="2016" default-cut="defaultCut"></babbage-cut-filter>
        </div>
      </div>
      <div class='filter'>
        <h6>Aufteilung</h6>
        <div class='filter-element'>
          <dimension-filter type='dropdown' filter='anzeige' selected="Einzelpläne" default-cut='defaultCut'></dimension-filter>
        </div>
      </div>
      <div class='filter'>
        <h6>Typ</h6>
        <div class='filter-element'>
          <babbage-cut-filter type='dropdown' filter="einahmenausgaben" selected="Ausgaben" default-cut="defaultCut"></babbage-cut-filter>
        </div>
      </div>
      <div class='filter'>
        <h6>&nbsp;</h6>
        <div class='filter-element'>
          <babbage-refresh hierarchies="state.hierarchies">
            <a class="btn btn-default" ng-click="update();"><i class="fa fa-refresh"></i></a>
          </babbage-refresh>
        </div>
      </div>
    </div>
    <treemap-breadcrumb show-key-value='showKeyValue' reset='reset' state='state'></treemap-breadcrumb>
    <hr />
    <babbage-treemap show-tooltip=true tooltip-content="tooltipContent(d)"></babbage-treemap>
    <div class="fixed-table-container">
      <div class="header-background"></div>
      <div class="fixed-table-container-inner">
        <treemap-table show-key="showTableKey"></treemap-table>
      </div>
    </div>
  </babbage>
</div>
<div id="tooltip"></div>
