---
title: Haushalt Rheinland-Pfalz
---
<div ng-controller="DemoCtrl">
  <babbage endpoint="http://52.23.213.247/api/babbage" cube="rp-test" state="state">
    <treemap-breadcrumb reset='reset' state='state'></treemap-breadcrumb>
    <div class='dimension-filters'>
      <dimension-filter filter='anzeige' selected="nach Gruppe" default-cut='defaultCut'>
        <div class="dropdown">
          <div class="btn-group" dropdown ng-show="filter.length">
            <a class="btn btn-default dropdown-toggle" dropdown-toggle class="ng-link">{{selected}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="attr in filter">
                <a ng-click="update(attr)">
                  <strong>{{attr.label}}</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </dimension-filter>
      <babbage-cut-filter filter="einahmenausgaben" selected="Einahmen" default-cut="defaultCut">
        <div class="dropdown">
          <div class="btn-group" dropdown ng-show="filter.length">
            <a class="btn btn-default dropdown-toggle" dropdown-toggle class="ng-link">{{selected}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="attr in filter">
                <a ng-click="update(attr)">
                  <strong>{{attr.label}}</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </babbage-cut-filter>
    </div>
    <babbage-treemap></babbage-treemap>
    <treemap-table></treemap-table>
  </babbage>
</div>
